<footer class="div-test">
    <div class="main-footer">
        <ul class="footer-list">
            <li class="footer-list-item">About Us</li>
            <li class="footer-list-item">Support</li>
            <li class="footer-list-item">Terms</li>
            <li class="footer-list-item">Language</li>
            <li class="footer-list-end">Jobs</li>
            <li class="footer-list-item">©2018 ThisWebsite</li>
        </ul>
    </div>
</footer>