<div class=" brightBlue">
  <a href="index.html"><li id="home-nav" class="inline-nav <%= navIsActive[0] %>" >Home</li></a>
  <a href="#news"><li id="news-nav" class="inline-nav  <%= navIsActive[1] %>" >News</li></a>
  <a href="#contact"><li id="contact-nav" class="inline-nav  <%= navIsActive[2] %>" >Contact</li></a>
  <a href="about.html"><li id="about-nav" class="inline-nav  <%= navIsActive[3] %>" >About</li></a>
  <div class="top-menu-container">
    <% if (user) { %>
    <div class="dropdown menu-item">
      Profile <i class="fa fa-caret-down"></i>
      <div class="dropdown-content">
        <ul class="dropdown-list">
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
        </ul>
      </div>
    </div>

    <a href="users/logout" class="no-decoration black-text menu-item-last">Log Out</a>
    <% } else {%>
    <span class="no-decoration menu-item-last">
    <span class="pointer top-item" onclick="document.getElementById('signup-modal').style.display='block'">Sign Up</span>
    <span class="pointer" onclick="document.getElementById('login-modal').style.display='block'">Login</span>
    </span>
    <% } %> 
    
  </div>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" class="searchButton"><i class='fa fa-search'>  </i></button>
    </form>
  </div>
</div>
<% include ./signupModal %>
<% include ./loginModal %>
